@import url('https://fonts.googleapis.com/css?family=Oleo+Script&display=swap');

.Search {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  font-size: 1.5rem;
}
  .logoText {
    font-family: 'Oleo Script', cursive;
  }

  i {
    margin: 5px;
  }

    .SearchIcons {
      color: black;
      -webkit-text-fill-color: white; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }

    .SearchIcons i:hover {
      text-shadow:
          2px 2px 0 rgb(30, 30, 30),
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
    }